<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.234495078325-2alssanu5fnlp9lgqe5da3onbp7b8nem</string>
                </array>
            </dict>
        </array>
        <key>UIApplicationSceneManifest</key>
        <dict>
            <key>UIApplicationSupportsMultipleScenes</key>
            <false/>
            <key>UISceneConfigurations</key>
            <dict>
                <key>UIWindowSceneSessionRoleApplication</key>
                <array>
                    <dict>
                        <key>UISceneConfigurationName</key>
                        <string>Default Configuration</string>
                        <key>UISceneDelegateClassName</key>
                        <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                    </dict>
                </array>
            </dict>
        </dict>
        
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>fb896333015223531</string>
                </array>
            </dict>
        </array>
        <key>FacebookAppID</key>
        <string>896333015223531</string>
        <key>FacebookClientToken</key>
        <string>af468f7aea7782b1fa240876b51ced90</string>
        <key>FacebookDisplayName</key>
        <string>Go-Shop</string>
        
        
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>fbapi</string>
            <string>fb-messenger-share-api</string>
            <string>fbauth2</string>
            <string>fbshareextension</string>
        </array>
            
        <key>FacebookAutoLogAppEventsEnabled</key>
        <true/>

        <key>FacebookAdvertiserIDCollectionEnabled</key>
        <true/>

        
    </dict>
</plist>
